body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";

}

.container{
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

li{
    list-style: none;

}
a{
    text-decoration: none;

}
header{
    background: url(img/banner\ web.jpg);
    background-size: cover;
    height: 120vh;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between; /* para que se separen y vayan al costado*/

}

header ul{
    display: flex;

}

header ul li{
    margin: 0 20px;
}

header ul li a{
    color: white;
    

}

.logo{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.menu-icono{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}
.title{
    text-align: center;
    margin-top: 43vh; /* (vh) siempre mantiene el margin top al 40*/
    color:white;
    


}
.title a{
    background: #000;
    color: #C2E71F;
    padding: 20px 40px; /*ubica */
    


}

h1{
    font-size: 80px;
    font-style: italic;
    width: 80%;
    margin: auto; /*centra el titulo*/
    margin-bottom: 40px;
}
.container-cards{
    display: flex; 
    justify-content: center;
}
.card{
    text-align: center;
    box-shadow: -1px 0px 7px 0px #00000047;
    width: 28%;
    margin-top: -70px;
    background: white;
    padding: 40px 0;
    border-radius: 6px;
    




}

#segunda-tarjeta{
    margin: 0 60px;
    margin-top: -70px;
}
.tarjeta p{
    font-size: 16px;
}
#cards{
    margin-bottom: 100px;


}

.card a{
    color: #000;
    text-decoration: underline;
    font-size: 14px;

}

.card h3{
    font-style: italic;
}

#classes{
    background: #f6f6f6;
    margin-top: -300px;
    padding-top: 200px;
}
table{
    width: 100%;
    text-align: center;
     
}
.blanco, th {
    background: #fff;
}
th{
    padding: 20px 0;
    font-style: italic;
}

.gris{
    background:#E8E8E8;
}
.negrita{
    font-weight: bold;
    font-style: italic;
}
.horario{
    font-style: italic;
}
h2{
    text-align: center;
    font-size: 60px;
    font-style: italic;
}



#galeria{
    display: flex;
    flex-wrap: wrap; /* permite que las imagenes se acoplen*/
    margin-top: 200px;
}

#galeria img{
    width: 100%;
    transition: 0.4s;
}


#galeria .foto{
    width: 25%; /* tamaño de foto acoplada a la pantalla*/
    position: relative; /* hace que el .oculto se posicione dentro de la imagen a la izquierda*/
    overflow:hidden;/*nunca supera su div class*/
}

.oculto{
    position: absolute; /* se posiciona en el header a la izquierda*/
    top: 0;
    left: 0;
    background: #0000004d;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: none; /* para que por defecto este oculto*/

}

.oculto h4{
    position: relative;
    top: 40%;

}
.agrandar{
    transform: scale(1.2); /* es para agrandar la escala tipo zoom*/
    transition: 0.2s;
}

#contact{
    background: #000;
    text-align: center;
    color: #fff;
    padding: 60px 0;

}
#contact h2{
    margin: 0;
}
#contact svg{
    color: #B8DE11;
}
i {
    color: #B8DE11;
}
.info{
    display:flex;
    justify-content: center;
}
.info p{
    margin: 30px;
}
#contact a{
    background:#B8DE11; 
    color:#000;
    font-style: italic;
    padding: 20px 40px;
    display: inline-block;
    margin-top: 30px;
}
#classes-mobile{
    display: none;
}

@media (max-width: 800px){
  
    }
    .menu{
        padding-top: 10px;
        top: 10px;
        
        
    }
    header ul{
        flex-direction: column;
        margin-top: 30px;
    }
    nav {
        background: #000;
        width: 100%;
        position: absolute;
        top: 110px;
        left: 0;
        display: none;

        

    }
    nav ul li{
        margin-bottom: 20px;
    }
    h1{
        font-size: 40px;
    }
    .container-cards, #galeria{
       
    }
    
    .card{
        width: 100%;

    }
    #primera-tarjeta{
        margin: 0;
    }
    #segunda-tarjeta{
        margin: 0;
    }
    #ultima-tarjeta{
        margin-top: 1px;
    }
    table{
        display: none;
    }
    #classes-mobile{
        display: block;
        text-align: center;
        font-size: 30px;


    }
    #galeria .foto{
        width: 100%;
    }
    #contact h2{
        font-size: 30px;
    }
    .info{
        flex-direction: column;
        font-size: 22px;
        
    }

}